@model Game

@if (Model == null)
{
	<div class="alert alert-dismissible alert-primary">
	  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>No game detected!</strong> <a asp-controller="Home" asp-action="Index" class="alert-link">try submitting again</a>.
	</div>
}
else 
{
    <div class="card border-primary mb-3" style="max-width: 30rem; margin-right: 2rem;">
        <h3 class="card-header">@Model.Title</h3>
        <img src="@Model.ImageName" height="500" />
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Platform</li>
                    <li class="list-group-item">Genere</li>
                    <li class="list-group-item">ESRB Rating</li>
                    <li class="list-group-item">Release Year</li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Platform</li>
                    <li class="list-group-item">@Model.Genere</li>
                    <li class="list-group-item">@Model.ESRB</li>
                    <li class="list-group-item">@Model.ReleaseYear</li>
                </ul>
            </div>
        </div>
        @if (Model.LoanedTo == null)
        {
            <div class="card-body">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Loan Game
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                            <div class="accordion-body">
                                <form asp-controller="Game" asp-action="Loan" method="post">
				                    <div class="input-group mb-3">
                                        <input type="text" id="LoanOut" name="LoanOut" class="form-control" placeholder="Recipient's name" aria-label="Recipient's name" aria-describedby="button-addon2">
                                        <input type="hidden" id="Index" name="Index" value="@Model.Id">
                                        <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
              <div class="card-body">
                    <p class="card-text">Game has been loaned out</p>
              </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Loaned To</li>
                        <li class="list-group-item">Loan Date</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Model.LoanedTo</li>
                        @if (Model.LoanDate.HasValue)
                        {
                            <li class="list-group-item">@Model.LoanDate.Value.ToShortDateString()</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <form asp-controller="Game" asp-action="Loan" method="post">
                    <div class="input-group mb-3">
                        <input type="hidden" id="Index" name="Index" value="@Model.Id">
                        <button type="submit" class="btn btn-primary btn-lg">Returned</button>
                    </div>
                </form>
            </div>
        }
    </div>
}